<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document the journey of chai</title>
  </head>
  <body>
    <h1>Heyy! Let's get familiar with the History of chaii!</h1>
    <hr />
    <p>
      The history of chai began with the ancient Indian practice of brewing
      medicinal herbs and spices, a tradition dating back thousands of years and
      rooted in Ayurvedic medicine. However, modern chai, which combines tea
      leaves, milk, and spices, emerged after the British East India Company
      established tea plantations in India in the 19th century and aggressively
      marketed tea drinking to the Indian population. Indian vendors adapted
      this new beverage by adding generous amounts of sugar and local spices,
      creating a distinct and popular drink that became an integral part of
      Indian culture and social life.
    </p>
  </body>
</html>
